:root {
  --font-family: "Times New Roman", serif, sans-serif;
  --main-text-color: hsl(1, 100%, 41%);
  --body-text-color: hsla(240, 67%, 35%, 0.967);
  --marquee-color: hsl(120, 87%, 36%);
  --background-color: hsla(52, 46%, 87%, 0.942);
  --padding-lg: 2em;
  --padding-std: 1em;
  --padding-sml: 0.25em;
  --font-size-400: 2em;
  --font-size-300: 1.5em;
  --font-size-200: 1.25em;
  --font-size-100: 1em;
  --font-size-50: 0.8em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  background-image: url(./images/6009986.jpg);
  color: var(--main-text-color);
  overflow-x: hidden;
  text-align: center;
}

a {
  color: white;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 3em;
}

h1 > a {
  color: var(--main-text-color);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5em;
  margin: var(--padding-std);
}

nav {
  margin: var(--padding-std) 0;
  position: sticky;
  top: 0;
  z-index: 1;
}
.main-nav li {
  padding: var(--padding-std);
}

#nav-display-btn {
  position: absolute;
  border: none;
  right: 0;
  top: 2px;
  background-color: var(--main-text-color);
}

.main-nav > * {
  background-color: rgb(186, 31, 31);
}

.nav-link {
  display: none;
}

.main-nav li:hover {
  background-color: #333;
}

#active {
  background-color: var(--main-text-color);
  min-height: 46px;
}

.main-wrapper,
.cart-wrapper {
  width: clamp(20rem, 95%, 90rem);
  margin: 0 auto;
}

.short-bio {
  font-weight: bold;
  padding: var(--padding-sml);
}

main {
  color: var(--body-text-color);
  background-color: var(--background-color);
  border: 5px solid var(--body-text-color);
  padding: var(--padding-std);
  margin: 0 1rem;
}

.inner-wrapper {
  border: 5px solid var(--main-text-color);
  padding: var(--padding-lg);
}

.hero-images-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--padding-sml);
  column-gap: 0.25em;
  margin: 0.25em;
}

.section-image > img {
  width: 60px;
}

.content-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--padding-sml);
}

.content-item > * {
  color: var(--body-text-color);
}

.content-item > a::after {
  content: "~";
  display: block;
}

.marquee {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--marquee-color);
  border-top: 1px solid var(--marquee-color);
  border-bottom: 1px solid var(--marquee-color);
  padding: var(--padding-sml);
  margin-block: var(--padding-std);
  width: 100%;
}

.marquee-text {
  animation: Slide linear 10s infinite;
}

@keyframes Slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(calc(-0.7 * var(--padding-lg)));
  }
  75% {
    transform: translateX(calc(0.7 * var(--padding-lg)));
  }
  100% {
    transform: translateX(0);
  }
}

.marquee-text#film {
  animation-delay: 1.6s;
}

.marquee-text#press {
  animation-delay: 1s;
}
.marquee-text#movies {
  animation-delay: 40ms;
}

.marquee-text#music-videos {
  animation-delay: 230ms;
}

.marquee-text#writing {
  animation-delay: 100ms;
}

#top-line {
  background-color: var(--main-text-color);
  height: 25px;
  font-size: var(--font-size-50);
}

.cart-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 850px;
  padding-right: var(--padding-sml);
  padding-top: 5px;
}

.thank-you-text {
  color: var(--main-text-color);
  font-size: clamp(0.6rem, 1em, 2em);
  margin-block: var(--padding-std);
  white-space: break-space;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2em;
  min-width: 100%;
  margin-top: 1.5em;
  background-color: var(--body-text-color);
  font-size: var(--font-size-50);
}

#email-main-wrapper {
  min-height: 90vh;
}

.contact-me-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-std);
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-weight: bold;
}

input,
textarea,
#submit-btn {
  width: 100%;
  border-radius: 6px;
  padding: var(--padding-std);
  border: 1px solid var(--body-text-color);
}

input,
textarea {
  background-color: hsla(0, 0%, 100%, 0.906);
  margin-bottom: var(--padding-std);
}

#submit-btn {
  background-color: var(--body-text-color);
  color: white;
  font-weight: bold;
  font-size: var(--font-size-200);
  margin-bottom: var(--padding-lg);
  max-width: clamp(10rem, 100%, 400px);
  align-self: flex-end;
  cursor: pointer;
}

.contact-me-wrapper {
  margin-bottom: var(--padding-lg);
}

@media (min-width: 700px) {
  #nav-display-btn,
  #active {
    display: none;
  }

  .main-nav,
  .nav-link {
    display: block;
    background-color: var(--main-text-color);
  }

  .main-nav {
    display: flex;
    justify-content: center;
  }

  .marquee-text {
    animation: Slide linear 20s infinite;
  }

  @keyframes Slide {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-10em);
    }
    75% {
      transform: translateX(10em);
    }
    100% {
      transform: translateX(0);
    }
  }

  .email-content-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
  }

  #headshot {
    max-width: 55%;
  }

  #email-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 85%;
  }

  form {
    padding-top: 5%;
  }

  main {
    width: 100%;
  }

  #submit-btn {
    max-width: clamp(10rem, 100%, 200px);
  }
}
