:root {
  --font-family: "Times New Roman", serif, sans-serif;
  --main-text-color: hsl(1, 75%, 56%);
  --body-text-color: hsla(240, 67%, 35%, 0.967);
  --marquee-color: hsl(120, 87%, 36%);
  --background-color: hsla(52, 46%, 87%, 0.942);
  --padding-std: 1em;
  --font-size-400: 2em;
  --font-size-300: 1.5em;
  --font-size-200: 1.25em;
  --font-size-100: 1em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/6009986.jpg);
  color: var(--main-text-color);
}

main {
  color: var(--body-text-color);
  background-color: var(--background-color);
  border: 5px solid var(--body-text-color);
  padding: var(--padding-std);
}

.inner-wrapper {
  border: 5px solid var(--main-text-color);
}
